
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  background-color: rgb(236, 95, 14);
  
  
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;

}
.item1 {
    grid-area: header;
    background-color: rgb(80, 16, 255);
    text-align: center;
    position: relative;
    
  }
  .item1 h1 {
   
    font-size: 40px;
}
.menu-icon {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute; 
    cursor: pointer;
    color: #fafafa;
   

}

.grid-container div {
  padding: 10px;
  font-size: 16px;
}
.menu {
    display: flex;
  grid-area: menu;
  }
  
.menu ul {
        
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  
}

.menu li:hover {
  background-color: #0099cc;
}
  
.item3 {
  grid-area: main;
}

.item3 h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.item3 p {
  margin-bottom: 7px;
}
.item3 img{
    width: 600px;
    height: 700px;
}

.item4 {
  grid-area: right;
  border: 2px solid #010708;
  background-color: rgb(0, 194, 253);
  padding: 15px;
  color: #000000;
}

.item4 h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.item4 li {
  padding: 5px;
  margin-bottom: 5px;
}

.item5 {
    
    grid-area: footer;
    background-color: #000000;
    color: #068bf8;
    text-align: center;
}


@media (max-width:420px) {
    body{
        background-color: aliceblue;
    }
    .menu {
        display: none;
    flex-direction: column;
        
    }
    

.item1 {grid-area: 1 / span 6;}

.item3 {grid-area: 3 / span 6;}
.item4 {grid-area: 4 / span 6;}
.item5 {grid-area: 5 / span 6;}


.menu-icon{
    display: block;
    background-color: #26bfda;
    
}
}

    
    



